body {
    padding-top: 50px;
    margin: 0;
    line-height: 37px;
    background-color: black;
}

.text {
    padding-left: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: rgb(85, 85, 85);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

span{
    color: white;
    background-color: rgb(226, 80, 43);
}

.table {
    height: 685px;
    margin: -15px;
    padding-top: 50px;
    display: flex;
    justify-content: space-around;

}

.new_york {
    margin: 0 auto;
    width: 380px;
    background-color: white;
}


.paris {
    margin: 0 auto;
    width: 380px;
    background-color: white;
}

.san {
    margin: 0 auto;
    width: 380px;
    background-color: white;
}


.h2 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    padding-left: 20px;
}

button {
    background-color: black;
    color: white;
    width: 24%;
    height: 47px;
    outline: none; 
    border: none;
    transition: color .5s linear;
}

button:hover {
    color: rgb(121, 121, 121);
    background-color: rgb(196, 195, 195);
}

p {
    font-size: 17px;
    color: black;
}
